*
!.gitignore
!README.md
!abc_equal_current_d/
!abc_equal_current_d/capture.meta.json
!abc_equal_current_d/SHA256SUMS.json
!abc_equal_current_d/project.work
!abc_equal_current_d/project.strd
!abc_equal_current_d/bank01.work
!abc_equal_current_d/bank01.strd
!abc_equal_current_d/bank02.work
!abc_equal_current_d/bank02.strd
!abc_equal_current_d/bank03.work
!abc_equal_current_d/bank03.strd
!abc_equal_current_d/bank04.work
!abc_equal_current_d/bank04.strd

abc_equal_current_d/arr*
abc_equal_current_d/markers*
abc_equal_current_d/bank05.*
abc_equal_current_d/bank06.*
abc_equal_current_d/bank07.*
abc_equal_current_d/bank08.*
abc_equal_current_d/bank09.*
abc_equal_current_d/bank10.*
abc_equal_current_d/bank11.*
abc_equal_current_d/bank12.*
abc_equal_current_d/bank13.*
abc_equal_current_d/bank14.*
abc_equal_current_d/bank15.*
abc_equal_current_d/bank16.*
