.DS_Store
._*

bank_ab_current_a/*
!bank_ab_current_a/capture.meta.json
!bank_ab_current_a/SHA256SUMS.json
!bank_ab_current_a/project.work
!bank_ab_current_a/project.strd
!bank_ab_current_a/bank01.work
!bank_ab_current_a/bank01.strd
!bank_ab_current_a/bank02.work
!bank_ab_current_a/bank02.strd

bank_ab_current_b/*
!bank_ab_current_b/capture.meta.json
!bank_ab_current_b/SHA256SUMS.json
!bank_ab_current_b/project.work
!bank_ab_current_b/project.strd
!bank_ab_current_b/bank01.work
!bank_ab_current_b/bank01.strd
!bank_ab_current_b/bank02.work
!bank_ab_current_b/bank02.strd

bank_abc_slot_c/*
!bank_abc_slot_c/capture.meta.json
!bank_abc_slot_c/SHA256SUMS.json
!bank_abc_slot_c/project.work
!bank_abc_slot_c/project.strd
!bank_abc_slot_c/bank01.work
!bank_abc_slot_c/bank01.strd
!bank_abc_slot_c/bank02.work
!bank_abc_slot_c/bank02.strd
!bank_abc_slot_c/bank03.work
!bank_abc_slot_c/bank03.strd
