*
!.gitignore
!README.md
!s0_baseline_saved/
!s0_baseline_saved/capture.meta.json
!s0_baseline_saved/SHA256SUMS.json
!s0_baseline_saved/project.work
!s0_baseline_saved/project.strd
!s0_baseline_saved/bank01.work
!s0_baseline_saved/bank01.strd
!s0_baseline_saved/bank02.work
!s0_baseline_saved/bank02.strd
!s0_baseline_saved/bank03.work
!s0_baseline_saved/bank03.strd
!s0_baseline_saved/bank04.work
!s0_baseline_saved/bank04.strd
!s1_destination_selected_before_paste/
!s1_destination_selected_before_paste/capture.meta.json
!s1_destination_selected_before_paste/SHA256SUMS.json
!s1_destination_selected_before_paste/project.work
!s1_destination_selected_before_paste/project.strd
!s1_destination_selected_before_paste/bank01.work
!s1_destination_selected_before_paste/bank01.strd
!s1_destination_selected_before_paste/bank02.work
!s1_destination_selected_before_paste/bank02.strd
!s1_destination_selected_before_paste/bank03.work
!s1_destination_selected_before_paste/bank03.strd
!s1_destination_selected_before_paste/bank04.work
!s1_destination_selected_before_paste/bank04.strd
!s2_after_pattern_paste/
!s2_after_pattern_paste/capture.meta.json
!s2_after_pattern_paste/SHA256SUMS.json
!s2_after_pattern_paste/project.work
!s2_after_pattern_paste/project.strd
!s2_after_pattern_paste/bank01.work
!s2_after_pattern_paste/bank01.strd
!s2_after_pattern_paste/bank02.work
!s2_after_pattern_paste/bank02.strd
!s2_after_pattern_paste/bank03.work
!s2_after_pattern_paste/bank03.strd
!s2_after_pattern_paste/bank04.work
!s2_after_pattern_paste/bank04.strd
!s3_after_control_switch/
!s3_after_control_switch/capture.meta.json
!s3_after_control_switch/SHA256SUMS.json
!s3_after_control_switch/project.work
!s3_after_control_switch/project.strd
!s3_after_control_switch/bank01.work
!s3_after_control_switch/bank01.strd
!s3_after_control_switch/bank02.work
!s3_after_control_switch/bank02.strd
!s3_after_control_switch/bank03.work
!s3_after_control_switch/bank03.strd
!s3_after_control_switch/bank04.work
!s3_after_control_switch/bank04.strd
!s4_after_project_save/
!s4_after_project_save/capture.meta.json
!s4_after_project_save/SHA256SUMS.json
!s4_after_project_save/project.work
!s4_after_project_save/project.strd
!s4_after_project_save/bank01.work
!s4_after_project_save/bank01.strd
!s4_after_project_save/bank02.work
!s4_after_project_save/bank02.strd
!s4_after_project_save/bank03.work
!s4_after_project_save/bank03.strd
!s4_after_project_save/bank04.work
!s4_after_project_save/bank04.strd
!s5_after_project_reload/
!s5_after_project_reload/capture.meta.json
!s5_after_project_reload/SHA256SUMS.json
!s5_after_project_reload/project.work
!s5_after_project_reload/project.strd
!s5_after_project_reload/bank01.work
!s5_after_project_reload/bank01.strd
!s5_after_project_reload/bank02.work
!s5_after_project_reload/bank02.strd
!s5_after_project_reload/bank03.work
!s5_after_project_reload/bank03.strd
!s5_after_project_reload/bank04.work
!s5_after_project_reload/bank04.strd
